.product-image-card {
    max-width: 222px;
    float: left;
    margin: 6px;
  }
  
  .product-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }